.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.circle-icon-usd {
    background: #fb6240;
    padding-left :19px;
    padding-right: 19px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 50%;
    color:white;
}
.circle-icon-eur {
    background: #ffd600;
    padding-left :17px;
    padding-right: 19px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 50%;
    color:white;
}
.circle-icon-gbp {
    background: #11b1ef;
    padding-left :18px;
    padding-right: 18px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 50%;
    color:white;
}
.circle-icon-wallet {
    background: #009688;
    padding-left :13px;
    padding-right:13px;
    padding-top:13px;
    padding-bottom:13px;
    border-radius: 50%;
    color:white;
}
.col-md-2
{
    padding-right: 0px;
}

.col-md-10
{
    padding-right: 0px;
    padding-left: 0px;
}

.row
{
    margin-right: 0px;
}

nav {
    background:white;
  }
 
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
.company-logo
{
    padding: 12px;
    margin-top:25px;
    margin-bottom: 40px;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  nav ul li a, .item{
    display: block;
    color: #000;
    padding: 22px;
    padding-left: 36px;
    text-decoration: none;
    font-family: "Quicksand";
    font-weight: 70;
    font-size: 20px;

  }
  
  /* Change the link color on hover */
  li a:hover, .item:hover , .dropdown-btn:hover
   {
    
    color:#181a4b;
    font-weight: bolder;
  }



.item .dropdown-btn
{
    padding-left: 0px;
    width:100%;
    padding-right: 0px;
    display: block;
    border:none;
}
.item label
{
    padding-left: 36px;
    width:80%;

}
.item:hover
{
    background-color: #f1f1f1;
}.content-right-side
{
    background: linear-gradient(0deg, transparent, 50%, #004785 50%);
}
 .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    outline: none;
  }
  .sidenav
  {
    cursor:pointer;
  }
  .sidenav a:hover
  {
      background-color: #f1f1f1;
  }
.navigate
{
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
}.dashboard_header
{
    height: 10vh;
    margin-top: 30px;
}

.welcome_user h5
{
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 30px;
    color:white;
    margin-left:3%;
    margin-bottom: 3%;
}

.dashboard_header p
{
    font-family: 'Quicksand';
    font-size: 20px;
    color:white;
    font-size: 26px;
    margin-left:5%;
    line-height: 0.5;
}

.fa-refresh, .fa-bell, .fa-sign-out-alt
{
    color: white;
    margin-left: 30px;
} 


.card-body p{
    margin: 0px;
    padding:0px;
    font-weight: bold;
    font-size: 25px;
}
.card-text
{
    text-align: left;
    font-size: 20px;
    margin-bottom: 0px;
}
.balance{
    text-align: left;
}.symbols
{
    float: right;
    vertical-align: top;
}

.icons-right
{
    float: right;
}
.fa-caret-down {
    float: right;
    margin-top:6px;
  }
.dropdown-container  {
    display: none;
    background-color: #f1f1f1;
    padding-left: 8px;
  }
  .dropdown-container a
  {
      background-color: #f1f1f1;
  }
  .dropdown-container a:hover
  {
      color: #17254c;
      font-weight:bold;
  }
  .active {
         background-color:#f1f1f1;
         border:none;
  }