body{
    font-family: 'Quicksand';
}

.contain
{
    height: 100vh;
}
 
  #managing_funds
  {
      position: relative;
      margin-left: 20%;
      margin-top: 10%;
  }

.vector2
{
    position: absolute;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(24, 23, 23, 0.2);
}


.about_us .container-fluid
{
  padding: 70px;
}

.card-text
{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.about_us
{
  height: 75vh;
}

.about-us-heading
{
  padding-top: 3%;
  padding-bottom: none;
  text-align: center;
}