body{
    font-family: 'Quicksand';
}

.header {
    overflow: hidden;
    background-color:none;
    padding: 20px 10px;
  }
  
  .header a {
    font-family: 'Quicksand';
    font-style: normal;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    padding-right: 8vh;
    text-decoration: none;
    font-size: 22px; 
    line-height: 28px;
    line-height: 100%;
  }
  
.contain
{
    height: 100vh;
}

  .header a.logo
  {
      position: relative;
  }
  
  #managing_funds
  {
      position: relative;
      margin-left: 20%;
      margin-top: 10%;
  }
  
  .header-right {
    float: right;
    padding: 2%;
  }
  
.header img
{
    position: relative;
}
.header-right a:hover
{

}

.vector2
{
    position: absolute;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(24, 23, 23, 0.2);
}


.about_us .container-fluid
{
  padding: 70px;
}

.card-text
{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.about_us
{
  height: 75vh;
}

.about-us-heading
{
  padding-top: 3%;
  padding-bottom: none;
  text-align: center;
}

.footer
{
  height: 25vh;
  background-color:#003A83; 
}

.footer-links
{
  margin-top: 50px;
  margin-right: 16px;
}

.footer-links ul
{
  list-style: none;
  padding-left: 16px;
  
}

.footer-links ul li a
{
  color: white;
  font-family: 'OpenSans';
  font-size: 16px;
  text-decoration: none;
  font-weight: 10;
}

#first_section
{
  border-right: 2px solid white;  
}

#Contact_us
{
  color:white;
  font-size: 25px;
  margin-top:15px;
}

.footer_corner
{
  float:right;
  margin-right:10vh;
}

#copyright
{
  color:white;
  font-size : 15px;
  margin-top: 30px; 
}