body{
    font-family: 'Quicksand';
}

.header {
    overflow: hidden;
    background-color:none;
    padding: 20px 10px;
  }
  
  .header a {
    font-family: 'Quicksand';
    font-style: normal;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px; 
    line-height: 28px;
    line-height: 100%;
  }
  
.contain
{
    height: 800px;
}

  .header a.logo
  {
      position: relative;
  }
  
  #managing_funds
  {
      position: relative;
      margin-left: 20%;
      margin-top: 10%;
  }
  
  .header-right {
    float: right;
    padding: 2%;
  }
  
.header img
{
    position: relative;
}
.header-right a:hover
{

}

.vector2
{
    position: absolute;
}