.transactions
{
    padding:50px;
}

#table
{
    width:100%;
    height:50vh;
}

.table-responsive
{
    width: 100%;
    height: 100%;
}

.thead-light
{
    top: 0;
    position: sticky;
}

.circle-icon-in {
    background: #39b429;
    padding-left :12px;
    padding-right: 12px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 50%;
    color:white;
}

.circle-icon-out {
    background: #ff0000a8;
    padding-left :12px;
    padding-right: 12px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 50%;
    color:white;
}